<div class="d-flex flex-wrap my-auto">
    <div class="card">

        
        <div class="card-body">
            <p>
                تمومه. 
                خواستی صفحه جدید درست کنی 
                اول فایل php
                شو درست میکنی

                hndl.esme_page.php
                توی پوشه hndl
                بعد اونو کپی میکنی توش

                بعد فقط آدرس پایینش و تغییر میدی



                'content' => biiq_Template::Start('pages->injaaaa', true, ['Objects' => $page]),

                بعد فقط فایل html css js داری
                همین

                الان یه صفحه جدید به اسم پروفایل درست کن ببینم
                همینجا؟
                اینجا نه توی جای خودش. خب اول یه Php برای پروفایل بزنم
 doroste?
 doroste
 hala age 1 chiz dari ke to hame ja sabete 
 mesle masalan sidebar
 file sidebar ro dorost mikoni
 vali faghat 1 bar import mikoni,
 bareye onam bayad ye php joda bezanam? na faghat html
 hame ja miad automatic dg lazem nsit 10 bar benevisi faghat 1 bar mizari
 bashe mrccc safhe avalo behem harghat dad shoro mikonam 

 hale mrcccc


            </p>
        </div>
    </div>
</div>