<div class="d-flex flex-column mt-3 w-100">
    <!-- ردیف بالا: تاریخ و جستجو -->
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center w-100 bg-col p-4 rounded gap-3">
        <!-- ستون تاریخ -->
        <div class="d-flex flex-column gap-2 mt-2 text-start">
            <span class="d-block fw-bold font-color">[@dateandtime->persianDate]</span>
            <span class="d-block fw-bold">[@dateandtime->otherDate]</span>
        </div>
        <!-- ستون جستجو -->
        <div class="w-lg-auto">
            <div class="input-group flex-row-reverse bg-white rounded p-1">
                <input type="text" class="form-control border-0 border-start font-color"
                       placeholder="جستجو در سفارشات...">
                <button class="btn btn-white" type="button">
                    <i class="fas fa-search font-color"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="py-5" style="min-height: 80vh;">
    <!-- Nav Pills -->
    <ul class="nav nav-pills nav-justified gap-1 pb-3 border-bottom border-muted" id="financeTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link text-purple active rounded-pill py-3" data-bs-toggle="pill"
                    data-bs-target="#deposits" type="button" role="tab">پیغام‌ها <i class="fas fa-envelope-open ms-2"></i></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-purple rounded-pill py-3" data-bs-toggle="pill" data-bs-target="#credits"
                    type="button" role="tab">خوانده نشده <i class="fas fa-envelope-open ms-2"></i></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-purple rounded-pill py-3" data-bs-toggle="pill" data-bs-target="#settlements"
                    type="button" role="tab">در حال پیگیری<i class="fas fa-spinner fa-spin ms-2"></i></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-purple rounded-pill py-3" data-bs-toggle="pill" data-bs-target="#identity-docs"
                    type="button" role="tab">مدارک احراز هویت <i class="fas fa-exclamation-circle ms-2"></i></button>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
        <!-- تب پیام‌ها -->
        <div class="tab-pane fade show active" id="deposits" role="tabpanel">
            <div class="d-flex flex-column bg-col gap-2 p-3 mt-4">
                [foreach ([@Objects->users])]
                <div class="d-flex flex-column bg-white p-3">
                    <div class="d-flex justify-content-between p-3 border-bottom">
                        <div class="d-flex gap-2">
                            <img src="[@Item->img]" alt="user" width="30" height="30" class="ms-2">
                            <div class="d-flex flex-column gap-2">
                                <span class="fw-bold">[@Item->name]</span>
                                <span class="font-color">[@Item->level]</span>
                            </div>
                        </div>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                    <div class="d-flex justify-content-between p-3 px-3">
                        <span class="fw-bold">[@Item->statusIcon] [@Item->msg]</span>
                        <span>جمعه 24 اسفند ماه 1403 | ساعت 18:21</span>
                    </div>
                </div>
                [endforeach]
            </div>
        </div>

        <!-- تب خوانده نشده -->
        <div class="tab-pane fade" id="credits" role="tabpanel">
            تب دوم
        </div>

        <!-- تب در حال پیگیری -->
        <div class="tab-pane fade" id="settlements" role="tabpanel">
            تب سوم
        </div>

        <!-- تب مدارک احراز هویت -->
        <div class="tab-pane fade" id="identity-docs" role="tabpanel">
            تب چهارم
        </div>
    </div>
</div>
