<div class="table-responsive rounded-3">
    <table class="table table-hover align-middle mb-0 searchable-table">
        <thead>
            <tr>
                <th class="py-3 text-center">
                    <div class="search-wrapper d-flex align-items-center justify-content-center">
                        <i class="fa-brands fa-searchengin search-icon me-1 text-primary bg-opacity rounded-3"
                            data-column="0" style="cursor:pointer;"></i>
                        <input type="text" class="search-input form-control form-control-sm" placeholder="جستجو" />
                        <span>نام کاربر </span>
                    </div>
                </th>
                <th class="py-3 text-center">
                    آخرین فعالیت
                </th>
                <th class=" sortable py-3 bg-primary text-center">
                    <span data-order="desc" class="">زمان و تاریخ تراکنش</span>
                    <i class="fas fa-sort sort-toggle ms-2" style="cursor:pointer"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            [foreach ([@Objects->userList])]
            <tr>
                <td class="text-center">
                    <a href="[@settings->site]users/[@Item->UserID]/"
                        class="user-pill d-inline-flex justify-content-center align-items-center text-decoration-none border rounded-pill w-50 p-2 text-center">
                        <span class="w-75">[@Item->User]</span>
                        <i class="user-icon [@Item->LevelIcon] ms-1"></i>
                    </a>
                </td>
                <td class="text-center">
                    [@Item->akharin]
                </td>
                <td class="text-center sortable" data-timestamp="[@Item->UnixTimestamp]">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="top"
                        data-bs-content="[@Item->PersianDate]">
                        [@Item->PersianDateRelative]
                    </span>
                </td>
            </tr>
            [endforeach]
        </tbody>

    </table>
</div>