<!--in SAFHE HAR JAE K SEFARESH HA RO NIZA DARIM MIAD FAGHAT HAM HEADER JADAVAL MIAD-->
<div class="table-responsive rounded-3 text-center p-3">
    <table class="table table-hover align-middle  mb-0 searchable-table" id="ordersTable">
        <thead>
            <tr>
                <th class="py-3">
                    <div class="search-wrapper d-flex align-items-center">
                        <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                            data-column="0" style="cursor:pointer;"></i>
                        <input type="text" class="search-input form-control form-control-sm" placeholder="جستجو" />
                        <span>شماره سفارش‌ها </span>
                    </div>
                </th>
                <th class="py-3">کاربر</th>
                <th class="py-3"> مبلغ</th>
                <th class=" sortable py-3 bg-primary text-center">
                    <span data-order="desc" class="">زمان و تاریخ تراکنش</span>
                    <i class="fas fa-sort sort-toggle ms-2" style="cursor:pointer"></i>
                </th>
                <th class="py-3">
                    وضعیت
                    <div class="dropdown d-inline">
                        <i class="fas fa-sort ms-1" data-bs-toggle="dropdown" style="cursor:pointer;"></i>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item filter-status" data-status="موفق">موفق</a></li>
                            <li><a class="dropdown-item filter-status" data-status="رد شده">رد شده</a></li>
                            <li><a class="dropdown-item filter-status" data-status="پردازش">پردازش</a></li>
                            <li><a class="dropdown-item filter-status" data-status="تکمیل نشده">تکمیل نشده</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item filter-status" data-status="all">همه</a></li>
                        </ul>
                    </div>
                </th>

            </tr>
        </thead>
        <tbody>
            [foreach ([@Objects->orderList])]
            <tr>
                <td class="text-start">
                    <a href="[@settings->site]orders/[@Item->ID]/">
                        [@persian [@Item->ID]]
                    </a>
                </td>
                <td>
                    <button class="btn rounded-pill w-50 [@Item->LevelColor]" data-user-level="[@Item->Level]"
                        data-user-id="[@Item->UserID]" tabindex="0" data-bs-toggle="popover" data-bs-placement="top"
                        data-bs-content="[@Item->Level]">
                        <i class="[@Item->LevelIcon] me-1"></i>[@Item->User]
                    </button>
                </td>
                <td>[@persian [@money [@Item->price]]]</td>
                <td class="text-center sortable" data-timestamp="[@Item->UnixTimestamp]">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="top"
                        data-bs-content="[@Item->PersianDate]">
                        [@Item->PersianDateRelative]
                    </span>
                </td>

                <td class="py-3">
                    <span
                        class="p-2 ms-7 text-end rounded-pill d-flex justify-content-center align-items-center status-text flex-grow-1 w-50 [@Item->StatusColor]">
                        [@Item->Status]
                    </span>
                </td>
            </tr>
            [endforeach]
        </tbody>
    </table>
</div>