<!-- ================== ORDERS SECTION ================== -->
<div class="d-flex flex-column mt-3 w-100">

    <!-- Header -->
    <div class="d-flex justify-content-between my-4 p-3">
        <span class="fw-bold text-secondary">خرید ارز دیجیتال USDT</span>
    </div>

    <!-- Order Box -->
    <div class="d-flex flex-column mt-5 p-3 rounded border">
        <div class="d-flex justify-content-between">
            <span class="fw-bold text-secondary">سفارش شماره [@Order->ID]</span>
            <span class="[@Order->statusColor]">[@Order->status]</span>
        </div>

        <div class="d-flex justify-content-between mt-4 p-2 px-3 bg-light rounded">
            <div class="d-flex ms-5 align-items-center">
                <img src="[@Order->img]" class="me-2">
                <div>
                    <span class="fw-bold">[@Order->amount]</span>
                    <div class="text-secondary">مقدار</div>
                </div>
            </div>

            <div class="d-flex ms-5 align-items-center">
                <div>
                    <span>[@Order->currency]</span>
                    <div class="text-secondary">شبکه</div>
                </div>
            </div>

            <div class="d-flex ms-5 align-items-center">
                <div>
                    <span>[@Order->price]</span>
                    <div class="text-secondary">مبلغ</div>
                </div>
            </div>

            <div class="d-flex ms-5 align-items-center">
                <div>
                    <span>[@Order->date] | [@Order->time]</span>
                    <div class="text-secondary">زمان پرداخت</div>
                </div>
            </div>
        </div>
    </div>

    <!-- ================== DETAILS ================== -->
    <div class="d-flex gap-3 mt-5">

        <!-- ===== Order Details ===== -->
        <div class="flex-fill bg-light p-3 rounded border">
            <span class="fw-bold text-secondary border-bottom d-block pb-2 mb-3">
                جزئیات سفارش
            </span>

            [foreach ([@Objects->orderDetails])]

            <div class="d-flex justify-content-between p-3">
                <div>
                    <span>[@Item->value]</span>
                    <div class="text-secondary">[@Item->label]</div>
                </div>
                <i class="far fa-copy text-primary"></i>
            </div>

            [endforeach]
        </div>

        <!-- ===== Transaction Details ===== -->
        <div class="flex-fill rounded border p-4">
            <span class="fw-bold text-secondary d-block mb-3">
                جزئیات تراکنش
            </span>

            [foreach ([@Objects->transactionRows])]
            <div class="d-flex flex-column bg-light">
                <div class="d-flex justify-content-between rounded p-3 mb-3">
                    <div class="d-flex align-items-center gap-1">
                        <span><i class="fa-solid [@Item->icon]"></i>
                        </span>
                        <div class="d-flex flex-column gap-2">
                            <span>[@Item->rightValue]</span>
                            <div class="text-secondary">[@Item->rightLabel]</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-1">
                        <i class="far fa-copy text-primary"></i>
                        <div class="d-flex flex-column gap-2">
                            <span>[@Item->leftValue]</span>
                            <div class="text-secondary">[@Item->leftLabel]</div>
                        </div>
                    </div>
                </div>
            </div>
            [endforeach]

            <div class="d-flex justify-content-between border p-2 rounded mb-2 mt-2
            
            ">
                <span class="text-secondary">آدرس آی‌پی:</span>
                <span>[@Objects->ip]</span>
            </div>

            <div class="d-flex justify-content-between border p-2 rounded mb-2">
                <span class="text-secondary">شماره کارت:</span>
                <span>[@Objects->card]</span>
            </div>

            <div class="d-flex justify-content-between bg-light p-3 rounded">
                <span class="text-secondary">پرداخت شده</span>
                <span class="fw-bold text-green">[@Objects->paid]</span>
            </div>
        </div>
    </div>
</div>