<div class="table-responsive rounded-3 bg-white p-3">
    <table class="table  table-hover align-middle text-center mb-0 searchable-table">
        <thead>
            <tr>
                <th class="text-start py-3">
                    <div class="search-wrapper d-flex align-items-center">
                        <i class="fas fa-search search-icon me-1 text-primary border border-primary small rounded-3 p-1"
                            data-column="0" style="cursor:pointer;"></i>
                        <input type="text" class="search-input form-control form-control-sm" placeholder="جستجو..." />
                        <span>شماره سفارش‌ها </span>
                    </div>
                </th>
                <th class="text-start py-3"> مشخصات سفارش</th>
                <th class="text-start py-3">کاربر</th>
                <th class="text-start py-3"> مبلغ</th>
                <th class="text-start sortable py-3" data-column="4" style="cursor:pointer">
                    زمان و تاریخ تراکنش <i class="fas fa-sort"></i>
                </th>
                <th class="text-start py-3">وضعیت <i class="fas fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            [foreach ([@Objects->orderList])]
            <tr>
                <td class="text-start fw-semibold">[@Item->numberOrder]</td>
                <td class="text-start fw-semibold">[@Item->OrderDetails]</td>
                <td class="text-start "><a href="[@settings->site]manage/[@Item->UserID]/">
                        [@Item->User]
                    </a></td>
                <td class="text-start fw-semibold">[@Item->price]</td>
                <td class="text-start" data-timestamp="[@Item->UnixTimestamp]">[@Item->persianDate]</td>
                <td class="text-start">
                    <div class="d-flex justify-content-between align-items-center">
                     <span class="px-3 py-2 rounded-pill [@Item->StatusColor]">
    [@Item->Status]
</span>

                    </div>
                </td>

            </tr>
            [endforeach]
        </tbody>
    </table>
</div>