<div class="table-responsive rounded-3 p-3 ">
    <table class="table  table-hover align-middle mb-0 searchable-table">
       <thead>
        <tr>
            <th class="col-5 py-3">
                <div class="search-wrapper d-flex align-items-center text-center ms-5">
                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary ms-5 bg-opacity rounded-3"
                        data-column="0" style="cursor:pointer;"></i>
                    <input type="text" class="search-input form-control form-control-sm" placeholder="جستجو..." />
                    <span>کاربر</span>
                </div>
            </th>
            <th class="col-5 py-3 text-start">
                آخرین فعالیت
            </th>
            <th class="col-4 py-3 text-center sortable">
                <div class="d-flex align-items-center gap-2">
                    <span>تاریخ ثبت‌نام</span>
                    <i class="fas fa-sort sort-toggle ms-2" data-order="desc" style="cursor:pointer"></i>
                </div>
            </th>
        </tr>
    </thead>
        <tbody>
            [foreach ([@Objects->userList])]
            <tr>
                <td class="text-primary">
                    <button class="btn opacity-green w-50">
                        [@Item->User]
                    </button>
                </td>
                <td class="text-start">[@Item->lastActivity]</td>
                <td class="text-start" data-timestamp="[@Item->UnixTimestamp]">[@Item->persianDate]</td>
            </tr>
            [endforeach]
        </tbody>

    </table>
</div>
