<!--in SAFHE HAR JAE K SEFARESH HA RO NIZA DARIM MIAD FAGHAT HAM HEADER JADAVAL MIAD-->
<div class="table-responsive rounded-3 bg-white p-3">
    <table class="table table-hover align-middle text-center mb-0 searchable-table" id="ordersTable">
        <thead>
            <tr>
                <th class=" text-start py-3">
                    <div class="search-wrapper d-flex align-items-center">
                        <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                            data-column="0" style="cursor:pointer;"></i>
                        <input type="text" class="search-input form-control form-control-sm" placeholder="جستجو" />
                        <span>شماره سفارش‌ها </span>
                    </div>
                </th>
                <th class="text-start py-3">کاربر</th>
                <th class="text-start py-3"> مبلغ</th>
                <th class="text-start sortable py-3">
                    <div class="d-flex align-items-center gap-2">
                        <span data-order="desc">زمان و تاریخ تراکنش</span>
                        <i class="fas fa-sort sort-toggle ms-2" style="cursor:pointer"></i>
                    </div>
                </th>

                <th class="text-start py-3">
                    وضعیت
                    <div class="dropdown d-inline">

                        <i class="fas fa-sort  ms-1" data-bs-toggle="dropdown" style="cursor:pointer;"></i>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item filter-status" data-status="موفق">موفق</a></li>
                            <li><a class="dropdown-item filter-status" data-status="ناموفق">ناموفق</a></li>
                            <li><a class="dropdown-item filter-status" data-status="در انتظار تایید">در انتظار تایید</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item filter-status" data-status="all">همه</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            [foreach ([@Objects->orderList])]
            <tr>
                <td class="text-start">
                    <a href="[@settings->site]orders/[@Item->ID]/">
                        [@persian [@Item->ID]]
                    </a>
                </td>
                <td class="text-start "><a href="[@settings->site]manage/[@Item->UserID]/">[@Item->User]</a></td>
                <td class="text-start">[@persian [@money [@Item->price]]]</td>
                <td class="text-center">
                    <span class="d-inline-block" tabindex="0" data-bs-placement="top" data-bs-toggle="popover" data-bs-content="[@persian [@Item->PersianDateString]]">
                        <span>[@persian [@Item->PersianDate]]</span>
                    </span>
                </td>
                <td class="text-start">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="px-3 py-2 rounded-pill status-text [@Item->StatusColor]">[@Item->Status]</span>
                        <a href="#">مشاهده رسید</a>
                    </div>
                </td>
            </tr>
            [endforeach]
        </tbody>
    </table>
</div>