<!-- Modal:documents -->
<div class="modal fade " id="modal_view_docs" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title d-flex align-items-center gap-2 mb-0">
                    <img src="[@settings->site]assets/img/ehra.png" alt="cards" width="35" height="35">
                    <span>مدارک کاربر: <span class="text-success">بنفشه ابراهیمی</span></span>
                </p>
                <button type="button" class="btn-close ms-auto me-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center">
                    <div class="documentBox bg-light w-100 mb-3"
                        style="max-width: 100%; height: 200px; display:flex; align-items:center; justify-content:center;">
                        <span class="text-muted">فایلی انتخاب نشده</span>
                    </div>

                    <input type="file" id="fileInput" class="d-none" accept="image/*">

                    <button type="button" class="btn btn-primary mt-2" id="uploadBtn">انتخاب فایل</button>
                    <select class="form-select mt-2 rounded-5 w-100">
                        <option selected>علت وارد شده</option>
                        <option value="1">دلیل عمومی</option>
                        <option value="2">کیفیت پایین</option>
                        <option value="3">عدم وجود برگه</option>
                        <option value="4">عدم تطابق کاربر</option>
                        <option value="5">عدم داشتن کارت ملی</option>
                        <option value="6">عدم مشخص بودن چهره</option>
                        <option value="7">تصویر ادیت شده</option>
                        <option value="8">برگه ناقص</option>
                    </select>

                    <input type="text" class="form-control rounded-5 mt-3 text-muted w-100" id="reject-file"
                        placeholder="دلیل رد شدن این فایل ...">

                    <div class="d-flex w-100 gap-2 mt-3">
                        <button class="btn btn-success flex-fill rounded-4 text-white">تایید</button>
                        <button class="btn btn-danger flex-fill rounded-4 text-white">عدم تایید</button>
                    </div>

                    <button class="btn btn-danger rounded-4 w-100 mt-3 text-white">
                        <img src="[@settings->site]assets/img/trash.png" alt="trash" width="24" height="24"> حذف فایل
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--nav section-->
<div class=" mt-5" style="min-height: 80vh;">
    <!-- Nav Pills -->
    <ul class="nav nav-pills nav-justified gap-1  border-bottom border-muted mt-5" id="financeTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link text-purple active rounded-pill py-3 text-center d-flex align-items-center justify-content-center"
                data-bs-toggle="pill" data-bs-target="#deposits" type="button" role="tab">لیست کاربران<i
                    class="fas fa-users ms-2"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link text-purple rounded-pill py-3 text-center d-flex align-items-center justify-content-center"
                data-bs-toggle="pill" data-bs-target="#credits" type="button" role="tab">
                حساب بانکی کاربران <i class="fa-solid fa-building-columns ms-2"></i></button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link text-purple rounded-pill py-3 text-center d-flex align-items-center justify-content-center"
                data-bs-toggle="pill" data-bs-target="#settlements" type="button" role="tab">لیست مدارک احراز هویت <i
                    class="fa-solid fa-id-card ms-2"></i>
            </button>
        </li>
    </ul>
    <!-- Tab Content -->
    <div class="tab-content mt-5">
        <!-- Deposits -->
        <div class="tab-pane fade show active" id="deposits" role="tabpanel">
            <div class="table-responsive rounded-4 ">
                <table class="table table-hover rounded-4 align-middle text-center mb-0 searchable-table">
                    <thead>
                        <tr>
                            <th class="text-start py-3">
                                <div class="d-inline-flex justify-content-center align-items-center px-4 w-50">
                                    کاربر
                                </div>
                            </th>
                            <th class="text-start py-3">شماره موبایل</th>
                            <th class="text-start py-3">اخرین فعالیت</th>
                            <th class="text-start sortable py-3 sort-toggle" style="cursor:pointer" data-order="desc">
                                <div class="d-flex align-items-center gap-2">
                                    <span>تاریخ ثبت نام</span>
                                    <i class="fas fa-sort-down ms-2"></i>
                                </div>
                            </th>
                            <th class="py-3 text-start">
                                <div class="d-inline-flex justify-content-center align-items-center px-4 w-50">

                                    <span class="me-2">وضعیت</span>

                                    <div class="dropdown">
                                        <i class="fas fa-sort" data-bs-toggle="dropdown" style="cursor:pointer;"></i>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item filter-status" data-status="موفق">موفق</a></li>
                                            <li><a class="dropdown-item filter-status" data-status="مسدود">مسدود</a>
                                            </li>
                                            <li><a class="dropdown-item filter-status" data-status="تکمیل نشده">تکمیل
                                                    نشده</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item filter-status" data-status="all">همه</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->userList])]
                        <tr>
                            <td class="text-start">
                               <a href="[@settings->site]users/[@Item->UserID]/"
                                    class="d-inline-flex justify-content-center align-items-center text-decoration-none border rounded-pill w-50 p-2 text-center">
                                    <span class="w-75">[@Item->User]</span>
                                    <i class="[@Item->LevelIcon] ms-1"></i>
                                </a>
                            </td>
                            <td class="text-start">[@Item->phoneNumber]
                            </td>
                            <td class="text-start">[@Item->lastActivity]</td>
                            <td class="text-start" data-timestamp="[@Item->UnixTimestamp]">[@Item->PersianDate]</td>
                            <td class=" text-end">
                                <div class="d-flex align-items-center justify-content-between gap-2">
                                    <span
                                        class=" p-2 text-center rounded-pill status-text  flex-nowrap [@Item->StatusColor] w-50">
                                        [@Item->Status]
                                    </span>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </td>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Credits -->
        <div class="tab-pane fade" id="credits" role="tabpanel">
            <div class="table-responsive rounded-4 ">
                <table class="table table-hover rounded-4 align-middle text-center mb-0 searchable-table">
                    <thead>
                        <tr class="p-2">
                            <th class="text-start py-3">
                                <div class="d-inline-flex justify-content-center align-items-center px-4 w-50">
                                    کاربر
                                </div>
                            </th>
                            <th class="text-start py-3">
                                <div
                                    class="search-wrapper d-inline-flex justify-content-start align-items-center px-4 w-50">
                                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                        data-column="0" style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span> اطلاعات حساب</span>
                                </div>
                            </th>
                            <th class="text-start py-3">جزییات وضعیت<i class=" fas fa-sort ms-1"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->bankAccount])]
                        <tr>
                            <td class="text-start">
                             <a href="[@settings->site]users/[@Item->UserID]/"
                                    class="d-inline-flex justify-content-center align-items-center text-decoration-none border rounded-pill w-50 p-2 text-center">
                                    <span class="w-75">[@Item->User]</span>
                                    <i class="[@Item->LevelIcon] ms-1"></i>
                                </a>
                            </td>
                            <td class="text-start">
                                <span>[@Item->bankInfo]</span>
                                <img src="[@Item->BankImage]" alt="بانک" class="ms-3" width="40" height="30">
                            </td>
                            <td>
                                <div class="d-flex w-50  align-items-center gap-4">
                                    <span class="p-2 w-50 text-center rounded-pill [@Item->detailsColor]">
                                        [@Item->details]
                                    </span>
                                    <div>
                                        <i class="fa-regular fa-circle-check text-success ms-2"></i>
                                        <i class="fa-regular fa-circle-xmark text-danger ms-1"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>
        <!--authentication-->
        <div class="tab-pane fade" id="settlements" role="tabpanel">
            <div class="table-responsive rounded-4 ">
                <table class="table table-hover rounded-4 align-middle text-center mb-0 searchable-table">
                    <thead class="bg-thead">
                        <tr>
                            <th class="text-start py-3">
                                <div class="d-inline-flex justify-content-center align-items-center px-4 w-50">
                                    کاربر
                                </div>
                            </th>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                        data-column="0" style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره موبایل</span>
                                </div>
                            </th>
                            <th class="text-center py-3">مدارک <i class="fas fa-sort ms-1"></i></th>
                            <th class=" py-3">
                                وضعیت
                                <div class="dropdown d-inline">
                                    <i class="fas fa-sort  ms-1" data-bs-toggle="dropdown" style="cursor:pointer;"></i>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item filter-status" data-status="تایید شده"></a>تایید شده
                                        </li>
                                        <li><a class="dropdown-item filter-status" data-status="رد شده">رد شده</a></li>
                                        <li><a class="dropdown-item filter-status" data-status="در انتظار تایید">در
                                                انتظار تایید</a></li>
                                        <li><a class="dropdown-item filter-status" data-status="تکمیل نشده">تکمیل
                                                نشده</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item filter-status" data-status="all">همه</a></li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->authentication])]
                        <tr>
                            <td class="text-start">
                                <a href="[@settings->site]users/[@Item->UserID]/"
                                    class="d-inline-flex justify-content-center align-items-center text-decoration-none border rounded-pill w-50 p-2 text-center">
                                    <span class="w-75">[@Item->User]</span>
                                    <i class="[@Item->LevelIcon] ms-1"></i>
                                </a>
                            </td>
                            <td class="text-start">[@Item->phoneNumber]
                            </td>
                            <td class="text-center fw-bold">
                                <button class="btn btn-outline-primary rounded-pill w-50 p-1" data-bs-toggle="modal"
                                    data-bs-target="#modal_view_docs">
                                    [@Item->documents] </button>
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center align-items-center flex-fill">
                                    <span class="p-2 w-50 rounded-pill status-text [@Item->StatusColor]">
                                        [@Item->Status]
                                    </span>
                                </div>
                            </td>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>