<div class=" py-5" style="min-height: 80vh;">
    <!-- Nav Pills -->
    <ul class="nav nav-pills nav-justified gap-1 pb-3" id="financeTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link text-purple active rounded-pill py-3 text-center d-flex align-items-center justify-content-center"
                data-bs-toggle="pill" data-bs-target="#deposits" type="button" role="tab">لیست واریزی‌ها <i
                    class="far fa-solid fa-list ms-2"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link text-purple rounded-pill py-3 text-center d-flex align-items-center justify-content-center"
                data-bs-toggle="pill" data-bs-target="#credits" type="button" role="tab">افزایش اعتبار<i
                    class="far fa-solid fa-arrow-up-right-dots ms-2"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link text-purple rounded-pill py-3 text-center d-flex align-items-center justify-content-center"
                data-bs-toggle="pill" data-bs-target="#settlements" type="button" role="tab">صف تسویه <i
                    class="fa-regular fa-rectangle-list ms-2"></i>
            </button>
        </li>
    </ul>
    <!-- Tab Content -->
    <div class="tab-content">
        <!-- Deposits -->
        <div class="tab-pane fade show active" id="deposits" role="tabpanel">
            <div class="table-responsive  rounded-3 bg-white p-3">
                <table class="table table-hover align-middle text-center mb-0 searchable-table">
                    <thead>
                        <tr>
                            <th class=" py-3">
                                <div class="search-wrapper justify-content-center d-flex align-items-center">
                                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                        data-column="0" style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره درخواست</span>
                                </div>
                            </th>
                            <th class=" py-3">
                                <div class="search-wrapper d-flex align-items-center justify-content-center">
                                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                        data-column="0" style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره پیگیری</span>
                                </div>
                            </th>
                            <th class=" me-3 py-3">کاربر</th>
                            <th class=" py-3">مبلغ</th>
                            <th class="text-center sortable py-3">
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <span>زمان و تاریخ تراکنش</span>
                                    <i class="fas fa-sort sort-toggle ms-2" data-order="desc"
                                        style="cursor:pointer"></i>
                                </div>
                            </th>

                            <th class=" py-3">
                                وضعیت
                                <div class="dropdown d-inline">
                                    <i class="fas fa-sort  ms-1" data-bs-toggle="dropdown" style="cursor:pointer;"></i>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item filter-status" data-status="مشاهده رسید">مشاهده
                                                رسید</a></li>
                                        <li><a class="dropdown-item filter-status" data-status="در صف تسویه">در صف
                                                تسویه</a></li>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item filter-status" data-status="all">همه</a></li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->Deposits])]
                        <tr>
                            <td class="text-center fw-bold ">
                                <a href="[@settings->site]orders/[@Item->ID]/" class="border rounded-pill  px-3 py-2 ">
                                    [@Item->ID]
                                    <i class="fa-solid fa-tag text-purple ms-1 "></i>
                                </a>
                            </td>
                            </td>
                            <td class="py-4">[@Item->trackingNumber]<i class="far fa-copy ms-1 text-primary"></i></td>
                            <td class="text-center">
                                <a href="[@settings->site]users/[@Item->UserID]/"
                                    class="d-inline-flex justify-content-center align-items-center text-decoration-none border rounded-pill w-50 p-3 text-center">
                                    <span class="w-75">[@Item->User]</span>
                                    <i class="[@Item->LevelIcon] ms-1"></i>
                                </a>
                            </td>
                            <td>[@Item->Price]</td>
                            <td data-timestamp="[@Item->UnixTimestamp]">
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                    data-bs-placement="top" data-bs-content="[@Item->PersianDateRelative]">
                                    [@Item->PersianDate]
                                </span>
                            </td>
                            <td>
                                <span class="badge px-3 py-2 rounded-pill status-text [@Item->StatusColor]">
                                    [@Item->Status]
                                </span>
                            </td>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Credits -->
        <div class="tab-pane fade" id="credits" role="tabpanel">
            <div class="table-responsive  p-3">
                <table class="table  table-hover align-middle text-center mb-0 searchable-table">
                    <thead>
                        <tr>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                        data-column="0" style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شناسه واریز </span>
                                </div>
                            </th>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                        data-column="0" style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره موبایل </span>
                                </div>
                            </th>
                            <th class=" py-3">کاربر</th>
                            <th class="text-center py-3"> اطلاعات حساب<i class="fas fa-sort ms-1"></i></th>
                            <th class="text-start py-3">مبلغ</th>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                        data-column="0" style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره پیگیری</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->Credits])]
                        <tr>
                            <td class="text-start py-4">[@Item->ID]<i class="far fa-copy ms-1 text-primary"></i></td>
                            <td class="text-start">[@Item->phoneNumber]</td>
                            <td class="text-center">
                                <a href="[@settings->site]users/[@Item->UserID]/"
                                    class="d-inline-flex justify-content-center align-items-center text-decoration-none border rounded-pill w-50 p-3 text-center">
                                    <span class="w-75">[@Item->User]</span>
                                    <i class="[@Item->LevelIcon] ms-1"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <span>[@Item->bankData]</span>
                                <img src="[@Item->BankImage]" alt="بانک" width="30" height="30" class="ms-2">
                            </td>
                            <td class="text-start">[@Item->price]</td>
                            <td class="text-start"><span class="  px-3 py-2 rounded-pill">[@Item->trackingNumber]</span>
                            </td>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Settlements -->
        <div class="tab-pane fade" id="settlements" role="tabpanel">
            <div class="table-responsive  rounded-3 bg-white p-3">
                <table class="table table-hover align-middle text-center mb-0 searchable-table">
                    <thead>
                        <tr>

                            <th class=" py-3"> <i
                                    class="fa-brands fa-searchengin search-icon me-1 text-primary  bg-opacity rounded-3"
                                    data-column="0" style="cursor:pointer;"></i>
                                <input type="text" class="search-input form-control form-control-sm"
                                    placeholder="جستجو..." />شناسه واریز
                            </th>
                            <th class="text-center sortable py-3">
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <span>زمان و تاریخ تراکنش</span>
                                    <i class="fas fa-sort sort-toggle ms-2" data-order="desc"
                                        style="cursor:pointer"></i>
                                </div>
                            </th>
                            <th class=" py-3">کاربر</th>
                            <th class="text-start py-3">مبلغ</th>
                            <th class=" py-3">وضعیت</th>
                            <th class=" py-3">مشخصات</th>
                            <th class="d-flex justify-content-center align-items-center py-3">
                                <span>واریز شود</span>
                                <input type="checkbox" id="selectAllHeader" class="form-check-input ms-2"
                                    style="cursor:pointer;">
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->Settlements])]
                        <tr>
                            <td>[@Item->ID]<i class="far fa-copy text-primary ms-2"></i></td>
                            <td data-timestamp="[@Item->UnixTimestamp]">
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                    data-bs-placement="top" data-bs-content="[@Item->PersianDateRelative]">
                                    [@Item->PersianDate]
                                </span>
                            </td>
                            <td class="text-center">
                                <a href="[@settings->site]users/[@Item->UserID]/"
                                    class="d-inline-flex justify-content-center align-items-center text-decoration-none border rounded-pill w-50 p-3 text-center">
                                    <span class="w-75">[@Item->User]</span>
                                    <i class="[@Item->LevelIcon] ms-1"></i>
                                </a>
                            </td>
                            <td class="text-start">[@Item->price]</td>
                            <td>
                                <span class="text-warning px-3 py-2 rounded-pill">[@Item->Status]</span>
                            </td>
                            <td>
                                <a href="#" class="px-3 py-2 rounded-pill open-properties" data-bs-toggle="modal"
                                    data-bs-target="#propertiesModal" data-properties="[@Item->properties]">
                                    مشاهده عملیات
                                </a>
                            </td>
                            <td class="py-3">
                                <input type="checkbox" class="form-check-input row-checkbox" style="cursor:pointer;">
                            </td>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="propertiesModal" tabindex="-1" aria-labelledby="propertiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-start">
                <div class="d-flex justify-content-start">
                    <button type="button" class="btn-close ms-0 me-auto  rounded-circle " data-bs-dismiss="modal"
                        aria-label="بستن"></button>
                    <span class="modal-title " id="propertiesModalLabel">
                        جزئیات وضعیت درخواست تسویه
                    </span>
                </div>
            </div>

            <div class="modal-body mt-5 p-4">
                <!-- محتوا با JS پر میشه -->
                <div id="propertiesContent d-flex flex-column border rounded p-3 ">
                    <div class="d-flex justify-content-between ">
                        <h6>وضعیت درخواست تسویه </h6>
                        <span class="bg-opacity-warning text-warning p-1 px-3 rounded">پردازش</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <p><span class="fs-1">.</span> شماره درخواست
                        </p>
                        <span class=" p-1 px-3 rounded  fw-bold">15495319</span>
                    </div>
                    <div class="d-flex justify-content-between mt-1 ">
                        <p><span class="fs-1">.</span> مشخصات کاربر
                        </p>
                        <span class=" p-1 px-3 rounded  fw-bold"> بنفشه ابراهیمی</span>
                    </div>
                    <div class="d-flex justify-content-between mt-1 ">
                        <p><span class="fs-1">.</span> مبلع(تومان)
                        </p>
                        <span class=" p-1 px-3 rounded  fw-bold">5،277،630</span>
                    </div>
                    <div class="position-relative">

                        <div
                            class="p-3 bg-col border position-absolute top-0 start-50 translate-middle p-1 bg-white rounded-circle">
                            <img src="../../assets/img/saderat.png" class="" style="width:50px; height:50px;">
                        </div>
                        <!-- باکس اصلی -->
                        <div class="d-flex flex-column px-4 pb-3 pt-5 bg-col mt-4 border rounded-3">
                            <div class="d-flex justify-content-between mt-1 ">
                                <p>شماره شبا</p>
                                <span class="p-1 px-3 rounded fw-bold">
                                    IR940150000184370199152881
                                </span>
                            </div>

                            <div class="d-flex justify-content-between mt-1 ">
                                <p>شماره کارت</p>
                                <span class="p-1 px-3 rounded fw-bold">
                                    6273811170944968
                                </span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer mt-5 p-3">
                <div class="d-flex flex-column w-100 gap-3">
                    <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">پرداخت شد</button>
                    <button type="button" class="btn btn-outline-danger w-100" data-bs-dismiss="modal">لغو و بازگشت
                        وجه</button>
                </div>
            </div>

        </div>
    </div>
</div>