<div class="d-flex flex-column flex-lg-row justify-content-between align-items-center bg-col p-2 rounded gap-3">
    <div class="d-flex flex-column gap-2 mt-2 text-start ">
        <span class="d-block fw-bold text-secondary ">[@settings->date_time]</span>
    </div>
    <div class="w-lg-auto">
        <div class="input-group bg-white rounded ">
            <button class="btn btn-white d-flex align-items-center justify-content-center" type="submit">
                <i class="fas fa-search text-secondary pe-2 border-end"></i>
            </button>
            <input type="text" class="form-control border-0 text-secondary outline-0" placeholder="جستجو در سفارشات...">
        </div>
    </div>
</div>