<!-- ==============================================
     Desktop Sidebar (XL and above)
=============================================== -->
<aside class="d-none d-xl-block bg-col text-dark p-3" style="max-width: 232px;">
  <!-- Logo and Profile -->
  <div class="d-flex flex-column align-items-center border-bottom">
    <img src="[@settings->site]assets/img/logo.png" alt="logo" width="200" height="87">
    <img src="[@settings->site]assets/img/profile.png" class="rounded-circle" alt="profile" width="100" height="100" class="mt-2">
<p class="mt-4 fw-bold text-purple" style="display:inline-block; transform: scaleX(1.3); transform-origin: right;">
    مدیریت
</p>
    <p class="fw-bold text-green">یگانه علیزاده</p>
    <hr>
  </div>

  <!-- Desktop Menu -->
  <ul class="nav flex-column gap-4 justify-content-start mt-5 sidebar-menu">
    <li class="nav-item mb-3">
      <a href="[@settings->site]" class="nav-link text-dark[if([@page->navlink] == 1)] active[endif]" data-link="top" >
        <i class="fa fa-home font-color"></i>
        <span class="font-color fs-5 ms-2">داشبورد</span>
      </a>
    </li>
    <li class="nav-item mb-3">
      <a href="[@settings->site]manage/" class="nav-link text-dark[if([@page->navlink] == 2)] active[endif]" data-link="manage">
        <i class="fas fa-user-shield font-color"></i>
        <span class="font-color fs-5 ms-2">مدیریت کاربران</span>
      </a>
    </li>
    <li class="nav-item mb-3">
      <a href="[@settings->site]orders/" class="nav-link text-dark[if([@page->navlink] == 3)] active[endif]" data-link="orders">
        <i class="fas fa-list-alt font-color"></i>
        <span class="font-color fs-5 ms-2">سفارشات</span>
      </a>
    </li>
    <li class="nav-item mb-3">
      <a href="[@settings->site]transactions/" class="nav-link text-dark[if([@page->navlink] == 4)] active[endif]" data-link="transactions">
        <i class="fas fa-money-bill font-color"></i>
        <span class="font-color fs-5 ms-2">مالی</span>
      </a>
    </li>
    <li class="nav-item mb-3">
      <a href="[@settings->site]tickets/" class="nav-link text-dark[if([@page->navlink] == 5)] active[endif]" data-link="tickets">
        <i class="fas fa-ticket font-color"></i>
        <span class="font-color fs-5 ms-2">تیکت‌ها</span>
      </a>
    </li>
    <!-- <li class="nav-item mb-3">
      <a href="[@settings->site]currency/" class="nav-link text-dark[if([@page->navlink] == 6)] active[endif]" data-link="currency">
        <i class="fas fa-coins font-color"></i>
        <span class="font-color fs-5 ms-2">ارز دیجیتال</span>
      </a>
    </li> -->
    <!-- <li class="nav-item mb-3">
      <a href="[@settings->site]settings/" class="nav-link text-dark[if([@page->navlink] == 7)] active[endif]" data-link="settings">
        <i class="fas fa-gear font-color"></i>
        <span class="font-color fs-5 ms-2">تنظیمات</span>
      </a>
    </li> -->
  </ul>
</aside>

<!-- ==============================================
     Mobile Offcanvas Sidebar
=============================================== -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="myOffcanvas" aria-labelledby="myOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="myOffcanvasLabel">منو</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="nav flex-column sidebar-menu">
      <li class="nav-item mb-3">
        <a href="[@settings->site]top/" class="nav-link text-dark" data-link="top">
          <i class="fa fa-home font-color"></i>
          <span class="font-color fs-5 ms-2">داشبورد</span>
        </a>
      </li>
      <li class="nav-item mb-3">
        <a href="[@settings->site]manage/" class="nav-link text-dark" data-link="manage">
          <i class="fas fa-list-alt font-color"></i>
          <span class="font-color fs-5 ms-2">مدیریت کاربران</span>
        </a>
      </li>
      <li class="nav-item mb-3">
        <a href="[@settings->site]orders/" class="nav-link text-dark" data-link="orders">
          <i class="fas fa-list-alt font-color"></i>
          <span class="font-color fs-5 ms-2">سفارشات</span>
        </a>
      </li>
      <li class="nav-item mb-3">
        <a href="[@settings->site]transactions/" class="nav-link text-dark" data-link="transactions">
          <i class="fas fa-money-bill font-color"></i>
          <span class="font-color fs-5 ms-2">مالی</span>
        </a>
      </li>
      <li class="nav-item mb-3">
        <a href="[@settings->site]tickets/" class="nav-link text-dark" data-link="tickets">
          <i class="fas fa-ticket font-color"></i>
          <span class="font-color fs-5 ms-2">تیکت‌ها</span>
        </a>
      </li>
      <li class="nav-item mb-3">
        <a href="[@settings->site]currency/" class="nav-link text-dark" data-link="currency">
          <i class="fas fa-coins font-color"></i>
          <span class="font-color fs-5 ms-2">ارز دیجیتال</span>
        </a>
      </li>
      <li class="nav-item mb-3">
        <a href="[@settings->site]settings/" class="nav-link text-dark" data-link="settings">
          <i class="fas fa-gear font-color"></i>
          <span class="font-color fs-5 ms-2">تنظیمات</span>
        </a>
      </li>
    </ul>
  </div>
</div>