<!DOCTYPE html>
<html lang="fa" dir="rtl">
[@import->layout->head]
<body class="d-flex flex-column min-vh-100">
    [@import->layout->header]
    <div class="d-flex flex-column flex-lg-row flex-wrap min-vh-100 ">
        [@import->layout->sidebar]
        <main class="flex-grow-1">
            <div class="container-fluid py-2 mt-4">
                [@import->layout->dateandtime]
                [@page->content]
            </div>
        </main>
    </div>
    [@import->layout->script]
</body>
</html>
