<div class="d-flex flex-column mt-3 w-100">

    <!-- ====== Top Row: Date and Search ====== -->
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center w-100 bg-col p-2 rounded gap-3">

        <!-- Date Column -->
        <div class="d-flex flex-column gap-2 mt-2 text-start p-1">
            <span class="d-block fw-bold font-color mb-2">[@dateandtime->persianDate]</span>
            <span class="d-block fw-bold ">[@dateandtime->otherDate]</span>
        </div>

        <!-- Search Column -->
        <div class="w-lg-auto">
            <div class="input-group flex-row-reverse bg-white rounded p-1">
                <input type="text" class="form-control border-0 border-start font-color" placeholder="جستجو در سفارشات...">
                <button class="btn btn-white" type="button">
                    <i class="fas fa-search font-color"></i>
                </button>
            </div>
        </div>
    </div>
</div>