<div class="d-flex flex-column flex-lg-row flex-wrap justify-content-lg-between gap-3">
    <div class="row flex-column g-3">
        <!--System status-->
        <div class="d-flex align-items-start bg-col rounded-5 py-2 px-3 ">
            <div class=" d-flex align-items-center gap-2">
                <img src="[@settings->]assets/img/sms-tracking.png" alt="setting" width="24" height="24" class="align-self-center">
                <div class="d-flex flex-column justify-content-between me-3">
                    <span class="font-color mb-2">پیغام‌ها</span>
                    <p class="text-primary mb-0 small ">12 تیکت | 5 اتوماسیون</p>
                </div>
            </div>
        </div>
        <!--System status-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2
             px-3">
            <div class=" d-flex align-items-center gap-2">
                <img src="[@settings->]assets/img/setting.png" alt="setting" width="24" height="24">
                <div class="d-flex flex-column">
                    <span class="text-nowrap font-color mb-2"> وضعیت سیستم </span>
                    <p class="text-primary mb-0 small "> 5 سفارش، در حال پردازش</p>
                </div>
            </div>
        </div>
        <!--settlement queue-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2 px-3">
            <div class=" d-flex align-items-center gap-2">
                <img src="[@settings->]assets/img/receiptitem.png" alt="recepie" width="24" height="24">
                <div class="d-flex flex-column">
                    <span class="text-nowrap mb-2 font-color"> صف تسویه </span>
                    <p class="text-green mb-0"> نرمال </p>
                </div>
            </div>
        </div>
    </div>
<div>
    <img src="[@settings->]assets/img/Frame3.png" alt=" pic1" width="454" height="226" class="resImg">
</div>
    <div class="left-side">
        <img src="[@settings->]assets/img/Frame11.png" alt="pic2" width="454" height="226" class="resImg">
    </div>
</div>