<div class="d-flex flex-column flex-lg-row flex-wrap justify-content-lg-between gap-3">
    <div class="row flex-column g-3">
        <!--System status-->
        <div class="d-flex align-items-start bg-col rounded-5 py-2 px-3 ">
            <div class=" d-flex align-items-center gap-2">
                <i class="fa fa-send"></i>
                <div class="d-flex flex-column justify-content-between me-3">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fa fa-home"></i>
                        <span class="font-color ms-2">پیغام‌ها</span>
                    </a>
                    <p class="text-primary mb-0 small mt-2 ">12 تیکت | 5 اتوماسیون</p>
                </div>
            </div>
        </div>
        <!--System status-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2
             px-3">
            <div class=" d-flex align-items-center gap-2">
                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fa fa-gear"></i>
                        <span class="font-color ms-2">تنظیمات</span>
                    </a>
                    <p class="text-primary mb-0 small mt-2 "> 5 سفارش، در حال پردازش</p>
                </div>
            </div>
        </div>
        <!--settlement queue-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2 px-3">
            <div class=" d-flex align-items-center gap-2">

                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fas fa-list-ul"></i>
                        <span class="font-color  ">صف تسویه</span>
                    </a>
                    <p class="text-green mb-0 mt-2"> نرمال </p>
                </div>
            </div>
        </div>
        <!--settlement queue-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2 px-3">
            <div class=" d-flex align-items-center gap-2">

                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fas fa-file-alt"></i>
                        <span class="font-color  "> حساب‌های بانکی</span>
                    </a>
                    <p class=" mb-0 mt-2 text-primary small "> <span
                            class="bg-blue pt-1 px-2  rounded-circle text-primary small">2</span> مورد در حال انتظار
                    </p>
                </div>
            </div>
        </div>
        <!--settlement queue-->
            <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2 px-3">
            <div class=" d-flex align-items-center gap-2">

                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fas fa-id-card"></i>
                        <span class="font-color  ">مدارک احراز هویت</span>
                    </a>
                    <p class=" mb-0 mt-2 text-primary small "> <span
                            class="bg-blue pt-1 px-2  rounded-circle text-primary small">2</span> مورد در حال انتظار
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="[@settings->site]assets/img/Frame3.png" alt=" pic1" width="454" height="226" class="resImg">
    </div>
    <div class="left-side">
        <img src="[@settings->site]assets/img/Frame11.png" alt="pic2" width="454" height="226" class="resImg">
    </div>
</div>