<div class="d-flex flex-column flex-lg-row flex-wrap justify-content-lg-between gap-3 mt-5">
    <div class="row flex-column g-3">
        <!--System status-->
        <div class="d-flex align-items-start bg-col rounded-5 py-2 px-3 ">
            <div class=" d-flex align-items-center gap-2">
                <i class="fa fa-send"></i>
                <div class="d-flex flex-column justify-content-between me-3">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fa fa-home font-color"></i>
                        <span class="font-color ms-2">پیغام‌ها</span>
                    </a>
                    <p class="text-primary mb-0 small mt-2 ">12 تیکت | 5 اتوماسیون</p>
                </div>
            </div>
        </div>
        <!--System status-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2
             px-3">
            <div class=" d-flex align-items-center gap-2">
                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fa fa-gear font-color"></i>
                        <span class="font-color ms-2">تنظیمات</span>
                    </a>
                    <p class="text-primary mb-0 small mt-2 "> 5 سفارش، در حال پردازش</p>
                </div>
            </div>
        </div>
        <!--settlement queue-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2 px-3">
            <div class=" d-flex align-items-center gap-2">

                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fas fa-list-ul font-color"></i>
                        <span class="font-color  ">صف تسویه</span>
                    </a>
                    <p class="text-green mb-0 mt-2"> نرمال </p>
                </div>
            </div>
        </div>
        <!--settlement queue-->
        <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2 px-3">
            <div class=" d-flex align-items-center gap-2">

                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fas fa-file-alt font-color"></i>
                        <span class="font-color  "> حساب‌های بانکی</span>
                    </a>
                    <p class=" mb-0 mt-2 text-primary small "> <span
                            class="text-info small">2</span> مورد در حال انتظار
                    </p>
                </div>
            </div>
        </div>
        <!--settlement queue-->
            <div class="d-flex justify-content-between align-items-center rounded-5 bg-col py-2 px-3">
            <div class=" d-flex align-items-center gap-2">

                <div class="d-flex flex-column">
                    <a href="[@settings->site]" class="nav-link text-dark" data-target="tableOrder">
                        <i class="fas fa-id-card font-color"></i>
                        <span class="font-color  ">مدارک احراز هویت</span>
                    </a>
                    <p class=" mb-0 mt-2 text-primary small "> <span
                            class=" text-info small">2</span> مورد در حال انتظار
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="[@settings->site]assets/img/Frame3.png" alt=" pic1" width="454" height="226" class="resImg">
    </div>
    <div class="left-side">
        <img src="[@settings->site]assets/img/Frame11.png" alt="pic2" width="454" height="226" class="resImg">
    </div>





</div>

<div class=" py-5" style="min-height: 80vh;">

    <!-- Nav Pills -->
    <ul class="nav nav-pills nav-justified gap-1 pb-3 mt-5  border-bottom border-muted" id="financeTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link text-purple active rounded-pill" data-bs-toggle="pill" data-bs-target="#deposits"
                type="button" role="tab">لیست سفارش‌ها</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-purple rounded-pill" data-bs-toggle="pill" data-bs-target="#credits"
                type="button" role="tab"> لیست کاربران</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-purple rounded-pill" data-bs-toggle="pill" data-bs-target="#settlements"
                type="button" role="tab">لیست درخواست‌های تسویه </button>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3">
        <!-- orderList -->
        <div class="tab-pane fade show active" id="deposits" role="tabpanel">
            <div class="table-responsive rounded-3 bg-white p-3">
                <table class="table  table-hover align-middle text-center mb-0 searchable-table">
                    <thead >
                        <tr>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fas fa-search search-icon me-1" data-column="0"
                                        style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره سفارش‌ها </span>
                                </div>
                            </th>
                            <th class="text-start py-3"> مشخصات سفارش</th>
                            <th class="text-start py-3">کاربر</th>
                            <th class="text-start py-3"> مبلغ</th>
                            <th class="text-start sortable py-3" data-column="4" style="cursor:pointer">
                                زمان و تاریخ تراکنش <i class="fas fa-sort"></i>
                            </th>
                            <th class="text-start py-3">وضعیت <i class="fas fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->orderList])]
                        <tr>
                            <td class="text-start fw-semibold">[@Item->numberOrder]
                            </td>
                            <td class="text-start fw-semibold">[@Item->OrderDetails]
                            </td>
                            <td class="text-start fw-semibold"><a href="[@settings->site]manage/[@Item->UserID]/">
                                    [@Item->User]
                                </a></td>
                            <td class="text-start fw-semibold">[@Item->price]</td>
                            <td class="text-start" data-timestamp="[@Item->UnixTimestamp]">[@Item->persianDate]</td>
                            <td class="text-start">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="px-3 py-2 rounded-pill [@Item->StatusColor]">
                                        [@Item->Status]
                                    </span>
                                    <i class="fas fa-ellipsis-v text-secondary ms-2" style="cursor:pointer;"></i>
                                </div>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>
        <!-- usersList -->
        <div class="tab-pane fade" id="credits" role="tabpanel">
            <div class="table-responsive rounded-3 bg-white p-3">
                <table class="table  table-hover align-middle text-center mb-0 searchable-table">
                    <thead >
                        <tr>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fas fa-search search-icon me-1" data-column="0"
                                        style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span> کد ملی </span>
                                </div>
                            </th>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fas fa-search search-icon me-1" data-column="0"
                                        style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره موبایل </span>
                                </div>
                            </th>
                            <th class="text-start py-3">کاربر</th>
                            <th class="text-start py-3">
                                آخرین فعالیت
                            </th>
                            <th class="text-start py-3"> تاریخ ثبت‌نام<i class=" fas fa-sort ms-1"></i></th>
                            <th class="text-start py-3"> وضعیت<i class=" fas fa-sort ms-1"></i></th>

                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->userList])]
                        <tr>
                            <td class="text-start fw-semibold">[@Item->nationalCode]</td>
                            <td class="text-start fw-semibold">[@Item->phoneNumber]</td>
                            <td class="text-primary text-start">
                                <a href="[@settings->site]users/[@Item->UserID]/" class="text-decoration-none">
                                    [@Item->User]
                                </a>
                            </td>
                            <td class="text-start fw-semibold">[@Item->lastActivity]</td>
                            <td class="text-start" data-timestamp="[@Item->UnixTimestamp]">[@Item->persianDate]</td>
                            <td class="text-start">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="px-3 py-2 rounded-pill [@Item->StatusColor]">
                                        [@Item->Status]
                                    </span>
                                    <i class="fas fa-ellipsis-v text-secondary ms-2" style="cursor:pointer;"></i>
                                </div>
                            </td>

                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>
        <!--requestList-->
        <div class="tab-pane fade" id="settlements" role="tabpanel">
            <div class="table-responsive rounded-3 bg-white p-3">
                <table class="table table-hover align-middle text-center mb-0 searchable-table">
                    <thead class="">
                        <tr>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fas fa-search search-icon me-1" data-column="0"
                                        style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره درخواست تسویه  </span>
                                </div>
                            </th>
                            <th class="text-start py-3">
                                <div class="search-wrapper d-flex align-items-center">
                                    <i class="fas fa-search search-icon me-1" data-column="0"
                                        style="cursor:pointer;"></i>
                                    <input type="text" class="search-input form-control form-control-sm"
                                        placeholder="جستجو..." />
                                    <span>شماره پیگیری</span>
                                </div>
                            </th>
                            <th class="text-start py-3">کاربر</th>
                            <th class="text-start py-3">مبلغ</th>
                              <th class="text-start sortable py-3" data-column="4" style="cursor:pointer">
                                تاریخ و زمان ثبت نام 
                              
                                <i class="fas fa-sort"></i>
                            </th>
                                                     <th class="text-start py-3">وضعیت <i class="fas fa-sort"></i></th>


                        </tr>
                    </thead>
                    <tbody>
                        [foreach ([@Objects->requestList])]
                        <tr>
                            <td class="text-start fw-semibold">[@Item->requestCode]</td>
                            <td class="text-start fw-semibold">[@Item->trackingNumber]
                            </td>
                            <td class="text-primary text-start">
                                <a href="[@settings->site]users/[@Item->UserID]/" class="text-decoration-none">
                                    [@Item->User]
                                </a>
                            </td>
                            <td class="text-start fw-bold">[@Item->price]</td>
                            <td class="text-start" data-timestamp="[@Item->UnixTimestamp]">[@Item->persianDate]</td>
                            <td class="text-start">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="px-3 py-2 rounded-pill [@Item->StatusColor]">
                                        [@Item->Status]
                                    </span>
                                    <i class="fas fa-ellipsis-v text-secondary ms-2" style="cursor:pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        [endforeach]
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>